<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Home</title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="google-site-verification" content="HZdYnMmYqlAsQcueYAfTLGh_AeRW6QQsM8syuYgJG7k" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Ramabhadra&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link href="../static/styles/homepagev3.css" rel="stylesheet" type="text/css">
<link media="only screen and (min-device-width: 0px) and (max-device-width:1270px)" href="../static/styles/homepagecss/portraitcss/portrait.css" type="text/css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
</head>
<body>
  <!-- header-bar html -->
  <div class="video-display">
    <iframe width="100%" height="100%"
src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1">
</iframe>
  </div>
  <div class="header-wrapper">
    <div class="h-block">
      <img class="logo" src="../static/assets/new_logo.png">
      <div class="menu-bar">
        <div id="company" class="menu-label">Company <img class="arrow-down" src="../static/assets/down_point.png"></div>
        <div id="connect" class="menu-label">Learn <img class="arrow-down" src="../static/assets/down_point.png"></div>
        <div id="support" class="menu-label">Support <img class="arrow-down" src="../static/assets/down_point.png"></div>
        <div id="pricing" class="menu-label">Pricing </div>
      </div>
      <div class="menu-blocks">
        <div class="mblock-1">
          <span class="mblock-sp"><div class="m-icon"><img class="m-img" src="../static/assets/mission.png"></div><div class="mblock-text"><p class="m-bl-header">About Us</p> <p class="m-bl-desc">What makes Mindgrasp special </p></div></span>          
          <span class="mblock-sp"><div class="m-icon"><img class="m-img" src="../static/assets/rewards.png"></div><div class="mblock-text"><p class="m-bl-header">Affiliate Program</p> <p class="m-bl-desc">Earn rewards for every time someone signs up using your unique referral link! </p></div></span>        
        </div>
        <div class="mblock-2">
          <span class="mblock-sp"><div class="m-icon"><img class="m-img" src="../static/assets/tutorial.png"></div><div class="mblock-text"><p class="m-bl-header">Blog</p> <p class="m-bl-desc">Meet the team who aspire to bring greatness</p></div></span>                  
        </div>
        <div class="mblock-3">
          <span class="mblock-sp"><div class="m-icon"><img class="m-img" src="../static/assets/helpcenter.png"></div><div class="mblock-text"><p class="m-bl-header">Help Center</p> <p class="m-bl-desc">Personalized support and customer service</p></div></span>
          <span class="mblock-sp"><div class="m-icon"><img class="m-img" src="../static/assets/terms.png"></div><div class="mblock-text"><p class="m-bl-header">Terms & Services</p> <p class="m-bl-desc">Agreements in using our app can be found here</p></div></span>          
          <span class="mblock-sp"><div class="m-icon"><img class="m-img" src="../static/assets/privacy.png"></div><div class="mblock-text"><p class="m-bl-header">Policies</p> <p class="m-bl-desc">Here are protection policies regarding your data</p></div></span>        
        </div>
      </div>
      <div class="header-login">
        <div class="login">Log in</div>
        <button class="signup">Beta Sign up<img class="signup-arrow" src="../static/assets/right-arrow.png"></button>
      </div>
      <div class="header-login ntc-wrap">
        <!-- <div class="login">Log in</div> -->
        <button class="ntc-btn ntc-color">Note Contest<img class="signup-arrow" src="../static/assets/right-arrow.png"></button>
      </div>
    </div>
  </div>
  <!--first intro block -->
  <div class="b1-wrapper">
    <div class="left-side mob-left">
        <div class="b1-header-holder">
          <div class="typewriter"></div>
          <p class="b1-t"><font class="anim-1">Work less. </font><br><font class="anim-2">Learn smarter. </font><br>Using <font class=" change-col anim-3">our AI.</font></p>
          <p class="b1-bt b1-color">Public Beta releases January 31st.</p>
          <p class="b1-bt mob-b1-bt"> We bring efficiency to the classroom by making course material comprehension easy. Get AI-Powered, personalized notes in seconds. </p>
        </div>
        <div class="b1-button-wrapper">
          <div class="start-wrapper">
            <button class="start-btn">Get started for free <img class="rightarrow r-a" src="../static/assets/right-arrow.png"></button>
          </div>
        </div>
    </div>
    <div class="right-side mob-right">
      <img class="b1-right" src="../static/assets/mindgrasp-home.svg">
  </div>
  </div>
  <div class="line-split-wrap">
    <div class="line-split"></div>
  </div>
  <!-- laptop block -->
  <div class="laptop-block">
    <!-- <div class="background-shape"></div> -->
    <div class="laptop-header">Our Powerful Tools</div>
    <div class="laptop-left">
      <div class="container-lt">
        <div class="laptop"><img class="demo-gif" src="../static/assets/notedemo.gif"></div>
        <div class="base"></div>
      </div>
    </div>
    <div class="laptop-labels">
      <div class="laptop-title">See it in action</div>
      <div class="note-creation">
        <div class="note-generation lt-1"><font class="lt-tab-t lt-1-t">Note Generation</font><font class="lt-tab-d lt-1-d">Instantly translates your course content into notes</font></div>
        <div class="note-generation lt-2 lt-unselected"><font class="lt-tab-t lt-2-t lt-unselected">Question & Answer</font><font class="lt-tab-d lt-2-d">Answers any questions about your uploaded course material</font></div>
        <div class="note-generation lt-3 lt-unselected"><font class="lt-tab-t lt-unselected">Lecture & Video Transcription <font style="font-size:12px">(coming soon!)</font></font></div>
      </div>
    </div>
    <div class=""></div>
  </div>
  <!-- laptop block -->
  <div class="affiliates" style="display:inline-block; padding-top:150px">
    <!-- <div class="affiliates-title">Our Partners</div> -->
    <img class="a-img" src="../static/assets/innovatemd.jpeg">
    <img class="a-img dingman" src="../static/assets/dingmancenter.png">
    <img class="a-img edmaster" src="../static/assets/edmaster.png">
    <img class="a-img sshell" src="../static/assets/startupshell.png">
  </div>
  <!-- new list block -->
  <!-- <div class="list-block">
    <div class="list-b-l"></div>
    <div class="list-b-r">
      <div class="spotlight">
        <video class="video-style" controls width="500">

          <source src="/media/cc0-videos/flower.webm"
                  type="video/webm">
      
          <source src="/media/cc0-videos/flower.mp4"
                  type="video/mp4">
      
          Sorry, your browser doesn't support embedded videos.
      </video>
      
      </div>
    </div>
  </div> -->
  <div class="f-big-wrapper">
    <div class="f-wrapper">
      <div class="f-s"></div>
      <div class="rev">
        <div class="f-header">
          <div class="f-f-align"><font class="f-line">An all in one tool <br></font>Personalized for your needs</div></div>
        <div class="f-inline-block">
          <!-- <img class="f-icon" src="../static/assets/time.png"> -->
          <div class="lottie">
            <lottie-player class="lot-icon" src="https://assets6.lottiefiles.com/packages/lf20_mj8qib5h.json"  background="transparent"  speed="1" loop autoplay></lottie-player>
          </div>
          <div class="f-text"><font class="f-t">Increased reading speed</font><br>
            Our AI reads the entirety of your <br>uploaded material and provides you with <br>detailed notes, all within seconds!</div>
        </div>
        <div class="f-inline-block">
          <div class="lottie">
            <lottie-player class="lot-icon" src="https://assets2.lottiefiles.com/packages/lf20_te5m5ofz.json"  background="transparent"  speed="1" loop autoplay></lottie-player>
          </div>
          <div class="f-text"><font class="f-t">Upload Everything</font><br>
            Mindgrasp is able to read multiple media <br> types (lectures, links, files, and photos) <br>Just drag and drop!</div>
        </div>
        <div class="f-inline-block">
          <div class="lottie">
            <img class="f-icon" src="../static/assets/instructor.png"> 
          </div>
          <div class="f-text"><font class="f-t">Better Learning</font><br>
            Mindgrasp’s powerful language processing abilities and interactive dashboard layout is designed with an emphasis on saving you time, making learning easier</div>
        </div>
    </div>
    <div class="f-s-2"></div>
    </div>
  </div>
  <!-- second block -->
  <!-- <div class="b2-wrapper">
    <div class="b2-t-wrapper">
      <p class="b2-t">Powerful tools.<br>
       Easy-to-use.</p>
      <p class="b2-bt">
        Improve your learning experience today, with Mindgrasp
      </p>
    </div>
  </div> -->
  <!-- <div class="browser">
    <div class="b-frame">
      <div class="brow-head">
        <div class="b-d-1 brow-dot"></div>
        <div class=brow-dot></div>
        <div class=brow-dot></div>
      </div>
    </div>
  </div> -->
  <div class="video-d-block">
      <div class="video-d-left">
        <img class="video-d-d" src="../static/assets/mindgrasp-crossplatform.svg">
      </div>
      <div class="video-d-right">
        <p class="video-t">Designed to save you time and help you learn. Anywhere. Anytime.</p>
        <p class="video-d">Mindgrasp is optimized for different multiple different types of course material on all devices. <br><br>- Stay Tuned For our IOS App coming soon!</p>
        <div class="video-d-btn-wrap">
          <button class="video-d-btn">See product demo</button>
        </div>
      </div>
  </div>
  <div class="tt-wrapper">
    <div class="container">
      <svg  class="tt-svg" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
        <path d="M0,90 C150,150 350,0 600,120 L500,00 L0,0 Z" style="stroke: none; fill:white;"></path>
      </svg>
    </div>
    <div class="container-2">
      <div class="tt-t">Testimonials</div>
      <p class="b2-bt">
        What our users are saying
      </p>
      <div class="tt-b-wrap"><div class="tt-block">
        <div class="tt-q-wrap">
          <p class=tt-q>"I used to hate school because I’d spend hours just trying to read the assignments. The App catered to my needs and saved my time & learning."</p>
        </div>
        <div class="tt-container"><svg  class="tt-svg" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
          <path d="M0,90 C150,150 350,0 600,120 L500,00 L0,0 Z" style="stroke: none; fill:white;"></path>
        </svg>
      </div>
      <div class="tt-name">
        <div class="tt-n-desc">
          <p class="tt-n">Bryce Danekar</p>
          <p class="tt-n-d">Student Diagnosed with ADHD</p>
        </div>
      </div>
      </div>
      <!-- <div class="tt-block">
        <div class="tt-q-wrap">
          <p class=tt-q>"Mindgrasp allowed my students to excel on their readings ultimately giving them better grades"</p>
        </div>
        <div class="tt-container purp-light"><svg  class="tt-svg" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
          <path d="M0,90 C150,150 350,0 600,120 L500,00 L0,0 Z" style="stroke: none; fill:white;"></path>
        </svg>
      </div>
      <div class="tt-name purp">
        <div class="tt-n-desc">
          <p class="tt-n">John Leddo</p>
          <p class="tt-n-d">Professor at Yale & CEO MyEdmaster</p>
        </div>
      </div>
      </div> -->
      <div class="tt-block">
        <div class="tt-q-wrap">
          <p class=tt-q>"Thanks to Mindgrasp, now I have time to devote to my extracurriculars without having to skip completing any assignments or readings!"</p>
        </div>
        <div class="tt-container purple-aqua-l"><svg  class="tt-svg" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
          <path d="M0,90 C150,150 350,0 600,120 L500,00 L0,0 Z" style="stroke: none; fill:white;"></path>
        </svg>
      </div>
      <div class="tt-name purple-aqua">
        <div class="tt-n-desc">
          <p class="tt-n">Jasmin Shah</p>
          <p class="tt-n-d">Student Athlete</p>
        </div>
      </div>
      </div>
      <div class="tt-block">
        <div class="tt-q-wrap">
          <p class=tt-q>"This tool is incredible. The App relays information in such an easy way. This is what modern technology brings at its finest!"</p>
        </div>
        
        <div class="tt-container aqua-l"><svg  class="tt-svg" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
          <path d="M0,90 C150,150 350,0 600,120 L500,00 L0,0 Z" style="stroke: none; fill:white;"></path>
        </svg></div>
        <div class="tt-name aqua">
          <div class="tt-n-desc">
            <p class="tt-n">David Morin</p>
            <p class="tt-n-d">University Student at College Park</p>
          </div>
        </div>
      </div></div>
    </div>
  </div>
  <div class="ai1-wrapper">
    <div class="ai1">
      <p class="ai1-t">An all-in-one supplemental reading companion</p>
      <p class="ai1-bt-wrapper">
        Easy to use, Mindgrasp concisely synthesizes the key points of course material in seconds.
      </p>
      <div class="sff-wrapper">
          <img class="sff_g1" src="../static/assets/sum_image.png">
          <img class="sff_g2" src="../static/assets/tut.png">
        <button class="sff">Get started for free</button>
      </div>
    </div>
  </div>
  <div class="footer-wrapper">
    <div class="inline-footer f-in-1">
      <p class="footer-t m-logo">MINDGRASP.io©</p>
      <p class="label-t">by Apricot AI</p>
    </div>
    <div class="inline-footer">
      <p class="footer-t">COMPANY</p>
      <p class="label-t">About</p>
      <p class="label-t">Terms of service</p>
      <p class="label-t">Contact us</p>
    </div>
    <div class="inline-footer">
      <p class="footer-t">SUPPORT</p>
      <p class="label-t">FAQs</p>
      <p class="label-t">Feedback</p>
    </div>
    <div class="inline-footer">
      <p class="footer-t">MORE</p>
      <p class="label-t">Pricing</p>
    </div>
    <div class="inline-footer footer-r">
      <p class="footer-t">FOLLOW US</p>
      <img class="f-logo instagram" src="../static/assets/instagram.png">
      <img class="f-logo linkedin" src="../static/assets/linkedin.png">
    </div>
  </div>
  <div class="bottom-footer">@ 2021 mindgrasp.io</div>
  <!-- third block
  <div class="b3-wrapper">
    <div class="b3-t-wrapper">
      <div class="b3-box-wrapper box-1">
        <div class="b3-img img-1"></div>
        <div class="b3-text">
          <font class="b3-box-t">Multi-Media Transcription</font><br>
          Our service has the ability to transcribe videos, news articles, links to applicable text
        </div>
      </div>
      <div class="b3-box-wrapper box-2">
        <div class="b3-img img-2"></div>
        <div class="b3-text">
          <font class="b3-box-t">Different Question Types</font><br>
          Mindgrasp can answer all question types and instantaneously convert the answers to flashcards
        </div>
      </div>
      <div class="b3-box-wrapper box-3">
        <div class="b3-img img-3"></div>
        <div class="b3-text">
          <font class="b3-box-t">Quick Turn-around</font><br>
          Our AI is able to maintain a consistent processing time of 1.8 seconds with 97% accuracy
        </div>
      </div>
    </div>
  </div> -->
  <!-- fourth block
  <div class="b4-wrapper">
    <div class="left-side mob-left-b4">
      <div class="b4-header-holder">
        <p class="b4-t">We are centered around <font class="b4-color">study improvement</font></p>
        <p class="b4-bt">Mindgrasp is designed to perform with proficiency and versatility. Our ai has the capability for study help, gather news knowledge, manual comprehension, and summarization.</p>
      </div>
      <div class="b1-button-wrapper">
        <div class="start-wrapper">
          <button class="start-btn-2">Try it yourself -></button>
        </div>
      </div>
  </div>
  <div class="right-side">
    <img class="learn-img" src="../static/assets/E-Learning/e-learning (1).png">
  </div>
  </div> -->
  <!-- additional block -->
  <!-- <div class="b6-wrapper">
    <div class="b6-left">
      <div class="news_letter"></div>
    </div>
    <div class="b6-right">
      <p class="b6-t">ALways stay caught up on our development. <br>Join our news letter.</p>
      <div class="b6-input">
        <img class="b6-img" src="../static/assets/icons8-email-open-96 (1).png">
        <input class="b6-news" placeholder="Sign up for our news letter">
        <div class="b6-arrow">-></div>
      </div>
    </div>
  </div> -->
  <!-- fifth block
  <div class="b5-wrapper">
    <div class="b5-adjust left-side">
      <p class="b5-t">Test Out Our Demo</p>
  </div>
  <div class="b5-adjust right-side">
    <div class="b5-header-holder">
      <p class="b5-bt">Here are some cached in values. Our AI was able to figure out what to answer based on the given parameters. Try it out!</p>
    </div>
  </div>
  </div> -->
  <!-- 7th block -->
  <!-- <div class="b7-wrapper">
    <div class="demo">
      <div class="b7-left">
        <div class="b7-select">
          <div class="b7-sample">Choose an option <img class="arrow-down" src="../static/assets/arrow-down.png"></div>
          <div class="b7-options">
            <div class="TKAM line">To Kill A Mocking Bird Ch.1</div>   
            <div class="reading_passage line">Reading Passage 1</div>  
            <div class="reading_passage_2 line">Reading Passage 2</div>    
            <span></span>   
          </div>
        </div>
        <div class="medium"></div>
        <div class="b7-block">
          <div class="b7-label">Type:</div>
          <div class="question-type">
          </div>
        </div>
        <div class="b7-block">
          <div class="b7-label">Question:</div>
          <div class="question">
          </div>
        </div>
        <div class="b7-label choice_options">Choice Options:</div>
        <div class="b7-content">
          <div id="a-1" class="background-info">
            <div class="mc-img-wrapper"><div class="mc-img">A</div></div>
            <div class = "mc-answer-wrapper"><p class="mc-answer">He was thirteen</p></div>
        </div>
        <div id="a-2" class="background-info">
          <div class="mc-img-wrapper"><div class="mc-img">B</div></div>
          <div class = "mc-answer-wrapper"><p class="mc-answer">He was eight</p></div>
      </div>
      <div id="a-3" class="background-info">
        <div class="mc-img-wrapper"><div class="mc-img">C</div></div>
        <div class = "mc-answer-wrapper"><p class="mc-answer">He was seven</p></div>
    </div>
    <div id="a-4" class="background-info">
      <div class="mc-img-wrapper"><div class="mc-img">D</div></div>
      <div class = "mc-answer-wrapper"><p class="mc-answer">He was fifty</p></div>
  </div>
        </div>
        <div class="b7-btn">
          <button class="b7-ask">create flashcard</button>
        </div>
      </div>
      <div class="b7-right">
        <div class="b7-right-box">
          <ul class="notes">
            <li class="li">This was the first time that a man had led an exploration around world</li>
            <li class="li">In 1519, Ferdinand Magellan set sail</li>
            <li class="li">The Strait of All Saints was discovered by Ferdinand
              Magellan and he named it the Strait of Magellan</li>
            <li>Magellan was looking for someone to offer him a position while being booted from Portugal and later served Charles V</li>
          </ul>
          <p class="sample_output"></p>
        </div>
        <div class="b7-block">
          <div class="b7-bi-label"></div>
          <div class="b7-background-info">
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/shortcuts/jquery.waypoints.min.js"></script>
  <script src="../static/js/shortcuts/inview.min.js"></script>
  <script src="../static/js/v3homepage.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script type="text/javascript">
    (function(w,d){
      w.HelpCrunch=function(){w.HelpCrunch.q.push(arguments)};w.HelpCrunch.q=[];
      function r(){var s=document.createElement('script');s.async=1;s.type='text/javascript';s.src='https://widget.helpcrunch.com/';(d.body||d.head).appendChild(s);}
      if(w.attachEvent){w.attachEvent('onload',r)}else{w.addEventListener('load',r,false)}
    })(window, document)
    </script>
    
    <script type="text/javascript">
      HelpCrunch('init', 'mindgrasp', {
        applicationId: 1,
        applicationSecret: 'seb0teOa2HDr+AGvnlhExybjSitayX9S4U6eQe7Cpe1cYyADg3/W2rGUoryYC1qNddcgLjhDWRFXCO7vf8vqzg=='
      })
    
      HelpCrunch('showChatWidget');
    </script>
  <script>
    $(document).ready(function() {
      $(".instagram").click(function() {
        window.location.href = "https://www.linkedin.com/company/mindgrasp-io/";
      })
      $(".linkedin").click(function() {
        window.location.href = "https://www.linkedin.com/company/mindgrasp-io/";
      })
    })
  </script>
</body>
</html>
